{% extends "base.html" %}

{% block content %}
  <h2>Eliminar Libro</h2>

  <hr class="my-4">

  <div class="mb-3">
    <p>¿Estás seguro que deseas eliminar el libro <strong>"{{ libro.titulo }}" </strong> del autor <strong>{{libro.autor}}</strong>?</p>
  </div>

  <hr class="my-4">

  <form method="post">
    {% csrf_token %}
    <button class="btn btn-danger" onclick="return confirm('¿Eliminar este libro?');" type="submit">Sí, eliminar</button>
    <a class="btn btn-outline-secondary" href="{% url 'detalle_libro' libro.id %}">No, volver</a>
  </form>
{% endblock %}