{% extends "base.html" %}

{% block content %}
  <h2>Lista de Libros</h2>

  <hr class="my-4">

  <p>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'crear_libro' %}">➕ Agregar nuevo libro</a>
  </p>

  {% if libros %}
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for libro in libros %}
        <tr>
          <td>{{ libro.titulo }}</td>
          <td>{{ libro.autor }}</td>
          <td>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'detalle_libro' libro.id %}">🔍 Detalles</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay libros registrados aún.</p>
  {% endif %}
{% endblock %}