{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
  <h2>Iniciar sesión</h2>

  <hr class="my-4">
  
  <form method="post" class="row g-3 mb-3">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="col-12">
      {{ form.correo.label_tag }}
      {{ form.correo|add_class:"form-control" }}
      {{ form.correo.errors }}
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Entrar</button>
    </div>
  </form>

  <hr class="my-4">

  <p>¿No tienes cuenta? <a class="btn btn-sm btn-outline-primary" href="{% url 'usuario_registro' %}?correo={{ form.correo.value }}">Regístrate</a></p>
{% endblock %}