{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
  <h2>Registro de Usuario</h2>

  <hr class="my-4">

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
      {{ form.nombre.label_tag }}
      {{ form.nombre|add_class:"form-control" }}
      {{ form.nombre.errors }}
    </div>

    <div class="mb-3">
      {{ form.correo.label_tag }}
      {{ form.correo|add_class:"form-control" }}
      {{ form.correo.errors }}
    </div>

    <hr class="my-4">

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Entrar</button>
    </div>
  </form>
{% endblock %}